@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply scale-90 hover:scale-110 cursor-pointer font-bold hover:animate-pulse no-underline;
  }

  .activeLink {
    @apply animate-pulse text-blue-500;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

/* body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  
} */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(102, 100, 100);
  /* border-radius: 50px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
